*{
    margin: 0;
    padding: 0;
}
.row {
    display: flex;  
    color: white;
 }
.col {
   flex: 1;
   background-color: #649EA0;
   padding: 20px;
   margin: 10px;
}
.col2 {
   flex: 2;
   background-color: #649EA0;
   padding: 20px;
   margin: 10px;
}
.col3 {
   flex: 1;
   background-color: #649EA0;
   padding: 20px;
   margin: 10px;
}